%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello, 
    %p
      Looks like #{@user.cec_id} has some problem in Mentoring program. We kindly request your intervention in this matter.
    
    %p 
      Thanks,
    %p 
      %b 
        CSG Mentoring Team
