%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to CSG Mentoring Tool, #{@user.cec_id}
    %p
      Thanks for signing up as a #{@user.user_role}
    %p Thanks for joining and have a great day!
