= stylesheet_link_tag 'all'
%h1 Welcome to Mentor Dashboard
%h2 Mentor's Details
%table#users
  %thead
    %tr
      %th CEC ID
      %th Work Location
      %th User Role
      
      
      
  %tbody    
    %tr
      %td= @user.cec_id
      %td= @user.work_city
      %td= @user.user_role
      
        
