@import "bootstrap-sprockets";
@import "bootstrap";
import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,600italic,400italic,300italic,700italic);

html, body {
  margin: 10;
  padding: 0;  
  background: #FFFFFF;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  text-align: center;
  display: block;
  
 }

#image{
 display: block;
 position: relative;
}


a {
  background: transparent;
  
  text-decoration: underline;
  font-weight: bold;
  text-align: center;  
  display: block;
  font-size: 30px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 38px; font-family: 'Tangerine', serif; padding-bottom: 10px;
  margin-top :100px;
}

h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: black;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
  text-align: center;
}
table {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table th, table td {
  padding: 4px;
  text-align: left;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}


form {
  
  position: relative;
  margin-left : 25px;
  float: bottom;
  width: auto;	
}


label {
    display: block;
    margin: 10px 0;
    
}

text{
  display:block;
  position:relative;
  text-align:center;
  width:20%;
  background-color:#00FF00;
}

input[type = 'submit']{	
  display: block;
  width: relative;
  
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
 }


input[type='checkbox'] { display: block; float: left; margin-left: -25px; }


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
